//theme colors
$primary: #D64200;
$secondary: #B8B6BF;
$color-light: #ffff;
$color-dark: #232326;
$validation-color: #009745;
$eror-color: red;
$highlight-color: #FFCBBA;
$upload-button: #77767E;

//borders
$base-border-thickness: rem(1);
$base-border-radius: rem(10);